In [3]:
import pandas as pd

In [4]:
df= pd.read_csv("DAB_kickstarterscrape_dataset.csv" , encoding='ISO-8859-1')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45957 entries, 0 to 45956
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   project id         45957 non-null  int64
 1   name               45957 non-null  object
 2   url                45957 non-null  object
 3   category           45957 non-null  object
 4   subcategory        45957 non-null  object
 5   location           44635 non-null  object
 6   status             45957 non-null  object
 7   goal               45957 non-null  float64
 8   pledged            45945 non-null  float64
 9   funded percentage  45957 non-null  float64
 10  backers            45957 non-null  int64
 11  funded date        45957 non-null  object
 12  levels             45957 non-null  int64
 13  reward levels      45898 non-null  object
 14  updates            45957 non-null  int64
 15  comments           45957 non-null  int64
 16  duration           45957 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 6.0+ MB

In [6]:
# 1. Convert 'funded date' to datetime format
df['funded date'] = pd.to_datetime(df['funded date'], errors='coerce')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45957 entries, 0 to 45956
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   project id         45957 non-null  int64
 1   name               45957 non-null  object
 2   url                45957 non-null  object
 3   category           45957 non-null  object
 4   subcategory        45957 non-null  object
 5   location           44635 non-null  object
 6   status             45957 non-null  object
 7   goal               45957 non-null  float64
 8   pledged            45945 non-null  float64
 9   funded percentage  45957 non-null  float64
 10  backers            45957 non-null  int64
 11  funded date        45957 non-null  datetime64[ns, UTC]
 12  levels             45957 non-null  int64
 13  reward levels      45898 non-null  object
 14  updates            45957 non-null  int64
 15  comments           45957 non-null  int64
 16  duration           45957 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(4), int64(5), object(7)
memory usage: 6.0+ MB

In [7]:
# check for duplicate 
df.duplicated()
df.drop_duplicates()
df.info()
#remove nulls 
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45957 entries, 0 to 45956
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   project id         45957 non-null  int64
 1   name               45957 non-null  object
 2   url                45957 non-null  object
 3   category           45957 non-null  object
 4   subcategory        45957 non-null  object
 5   location           44635 non-null  object
 6   status             45957 non-null  object
 7   goal               45957 non-null  float64
 8   pledged            45945 non-null  float64
 9   funded percentage  45957 non-null  float64
 10  backers            45957 non-null  int64
 11  funded date        45957 non-null  datetime64[ns, UTC]
 12  levels             45957 non-null  int64
 13  reward levels      45898 non-null  object
 14  updates            45957 non-null  int64
 15  comments           45957 non-null  int64
 16  duration           45957 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(4), int64(5), object(7)
memory usage: 6.0+ MB
<class 'pandas.core.frame.DataFrame'>
Index: 44580 entries, 0 to 45956
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   project id         44580 non-null  int64
 1   name               44580 non-null  object
 2   url                44580 non-null  object
 3   category           44580 non-null  object
 4   subcategory        44580 non-null  object
 5   location           44580 non-null  object
 6   status             44580 non-null  object
 7   goal               44580 non-null  float64
 8   pledged            44580 non-null  float64
 9   funded percentage  44580 non-null  float64
 10  backers            44580 non-null  int64
 11  funded date        44580 non-null  datetime64[ns, UTC]
 12  levels             44580 non-null  int64
 13  reward levels      44580 non-null  object
 14  updates            44580 non-null  int64
 15  comments           44580 non-null  int64
 16  duration           44580 non-null  float64
dtypes: datetime64[ns, UTC](1), float64(4), int64(5), object(7)
memory usage: 6.1+ MB

In [8]:
# 2. Create a success indicator column (1 if successful, else 0)
df['success'] = df['status'].apply(lambda x: 1 if str(x).lower() == 'successful' else 0)
df.info()
df.success

<class 'pandas.core.frame.DataFrame'>
Index: 44580 entries, 0 to 45956
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   project id         44580 non-null  int64
 1   name               44580 non-null  object
 2   url                44580 non-null  object
 3   category           44580 non-null  object
 4   subcategory        44580 non-null  object
 5   location           44580 non-null  object
 6   status             44580 non-null  object
 7   goal               44580 non-null  float64
 8   pledged            44580 non-null  float64
 9   funded percentage  44580 non-null  float64
 10  backers            44580 non-null  int64
 11  funded date        44580 non-null  datetime64[ns, UTC]
 12  levels             44580 non-null  int64
 13  reward levels      44580 non-null  object
 14  updates            44580 non-null  int64
 15  comments           44580 non-null  int64
 16  duration           44580 non-null  float64
 17  success            44580 non-null  int64
dtypes: datetime64[ns, UTC](1), float64(4), int64(6), object(7)
memory usage: 6.5+ MB

0        1
1        0
2        0
3        1
4        0
        ..
45952    1
45953    0
45954    1
45955    0
45956    1
Name: success, Length: 44580, dtype: int64

In [9]:
# 3. Split location into city and state
df[['city', 'state']] = df['location'].str.extract(r'^(.*),\s*([A-Z]{2})$')
df.info()
# we found that 5.31% of cities and states are out of America

<class 'pandas.core.frame.DataFrame'>
Index: 44580 entries, 0 to 45956
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   project id         44580 non-null  int64
 1   name               44580 non-null  object
 2   url                44580 non-null  object
 3   category           44580 non-null  object
 4   subcategory        44580 non-null  object
 5   location           44580 non-null  object
 6   status             44580 non-null  object
 7   goal               44580 non-null  float64
 8   pledged            44580 non-null  float64
 9   funded percentage  44580 non-null  float64
 10  backers            44580 non-null  int64
 11  funded date        44580 non-null  datetime64[ns, UTC]
 12  levels             44580 non-null  int64
 13  reward levels      44580 non-null  object
 14  updates            44580 non-null  int64
 15  comments           44580 non-null  int64
 16  duration           44580 non-null  float64
 17  success            44580 non-null  int64
 18  city               42217 non-null  object
 19  state              42217 non-null  object
dtypes: datetime64[ns, UTC](1), float64(4), int64(6), object(9)
memory usage: 7.1+ MB

In [10]:
# 5. Create goal buckets
goal_bins = [0, 1000, 5000, 10000, 50000, 100000, df['goal'].max()]
goal_labels = ['<1k', '1k–5k', '5k–10k', '10k–50k', '50k–100k', '100k+']
df['goal_bucket'] = pd.cut(df['goal'], bins=goal_bins, labels=goal_labels)
df.info()
df.goal_bucket

<class 'pandas.core.frame.DataFrame'>
Index: 44580 entries, 0 to 45956
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   project id         44580 non-null  int64
 1   name               44580 non-null  object
 2   url                44580 non-null  object
 3   category           44580 non-null  object
 4   subcategory        44580 non-null  object
 5   location           44580 non-null  object
 6   status             44580 non-null  object
 7   goal               44580 non-null  float64
 8   pledged            44580 non-null  float64
 9   funded percentage  44580 non-null  float64
 10  backers            44580 non-null  int64
 11  funded date        44580 non-null  datetime64[ns, UTC]
 12  levels             44580 non-null  int64
 13  reward levels      44580 non-null  object
 14  updates            44580 non-null  int64
 15  comments           44580 non-null  int64
 16  duration           44580 non-null  float64
 17  success            44580 non-null  int64
 18  city               42217 non-null  object
 19  state              42217 non-null  object
 20  goal_bucket        44580 non-null  category
dtypes: category(1), datetime64[ns, UTC](1), float64(4), int64(6), object(9)
memory usage: 7.2+ MB

0        10k–50k
1          1k–5k
2        10k–50k
3         5k–10k
4          1k–5k
          ...
45952        <1k
45953     5k–10k
45954     5k–10k
45955      1k–5k
45956    10k–50k
Name: goal_bucket, Length: 44580, dtype: category
Categories (6, object): ['<1k' < '1k–5k' < '5k–10k' < '10k–50k' < '50k–100k' < '100k+']

In [11]:
# 6. Create backer buckets
backer_bins = [0, 10, 50, 100, 500, 1000, 100000, 9999999]
backer_labels = ['<10', '10–50', '50–100', '100–500', '500–1k', '1k-100k', '100k+']
df['backer_bucket'] = pd.cut(df['backers'], bins=backer_bins, labels=backer_labels, right=False)
df.backer_bucket.head(10)

0     50–100
1        <10
2        <10
3    100–500
4        <10
5      10–50
6        <10
7      10–50
8      10–50
9    100–500
Name: backer_bucket, dtype: category
Categories (7, object): ['<10' < '10–50' < '50–100' < '100–500' < '500–1k' < '1k-100k' < '100k+']

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44580 entries, 0 to 45956
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   project id         44580 non-null  int64
 1   name               44580 non-null  object
 2   url                44580 non-null  object
 3   category           44580 non-null  object
 4   subcategory        44580 non-null  object
 5   location           44580 non-null  object
 6   status             44580 non-null  object
 7   goal               44580 non-null  float64
 8   pledged            44580 non-null  float64
 9   funded percentage  44580 non-null  float64
 10  backers            44580 non-null  int64
 11  funded date        44580 non-null  datetime64[ns, UTC]
 12  levels             44580 non-null  int64
 13  reward levels      44580 non-null  object
 14  updates            44580 non-null  int64
 15  comments           44580 non-null  int64
 16  duration           44580 non-null  float64
 17  success            44580 non-null  int64
 18  city               42217 non-null  object
 19  state              42217 non-null  object
 20  goal_bucket        44580 non-null  category
 21  backer_bucket      44580 non-null  category
dtypes: category(2), datetime64[ns, UTC](1), float64(4), int64(6), object(9)
memory usage: 7.2+ MB

In [13]:
df[df['backer_bucket'].isnull()]

Empty DataFrame
Columns: [project id, name, url, category, subcategory, location, status, goal, pledged, funded percentage, backers, funded date, levels, reward levels, updates, comments, duration, success, city, state, goal_bucket, backer_bucket]
Index: []

[0 rows x 22 columns]

In [14]:
#total success
city_success_counts = df.groupby('city')['success'].sum().sort_values(ascending=False)

# highest sucess project in each city 
top_city = city_success_counts.idxmax()
top_count = city_success_counts.max()

print(f"The city with the highest success count is: {top_city} ({top_count} successful projects)")

The city with the highest success count is: New York (2232 successful projects)

In [15]:
city_success_counts = df.groupby('city')['success'].sum().sort_values(ascending=False)
print(city_success_counts)

city
New York          2232
Los Angeles       2013
Brooklyn          1105
Chicago            871
San Francisco      795
                  ...
Lake Mary            0
Lake Hopatcong       0
Lake Helen           0
Lake George          0
Zirconia             0
Name: success, Length: 3331, dtype: int64

In [16]:
city_success_counts.head(10)

city
New York         2232
Los Angeles      2013
Brooklyn         1105
Chicago           871
San Francisco     795
Portland          675
Seattle           537
Austin            508
Boston            462
Nashville         397
Name: success, dtype: int64

In [17]:
df[df['funded percentage'] >= 1][['goal', 'backers', 'duration', 'updates', 'comments']].mean()

goal        5559.751403
backers      123.188661
duration      37.597591
updates        6.583509
comments      14.855722
dtype: float64

In [18]:
df[df['funded percentage'] < 1][['goal', 'backers', 'duration', 'updates', 'comments']].mean()

goal        18933.692467
backers        15.205598
duration       41.757118
updates         1.428020
comments        1.421723
dtype: float64

In [19]:
#the most common category and subcategory
most_common_category = df['category'].mode()[0]
most_common_subcategory = df['subcategory'].mode()[0]

most_common_category
most_common_subcategory

'Short Film'

In [20]:
#Sort projects by the amount pledged 
top_funded_projects = df.sort_values(by='pledged', ascending=False).head(10)

top_funded_projects

,project id,name,url,category,subcategory,location,status,goal,pledged,funded percentage,...,levels,reward levels,updates,comments,duration,success,city,state,goal_bucket,backer_bucket
10710,506924864,Pebble: E-Paper Watch for iPhone and Android,http://www.kickstarter.com/projects/597507018/...,Design,Product Design,"Palo Alto, CA",successful,100000.0,10266845.0,102.668457,...,11,"$1,$99,$115,$125,$220,$235,$240,$550,$1,000,$1...",13,7013,37.92,1,Palo Alto,CA,50k–100k,1k-100k
41151,1929840910,Double Fine Adventure,http://www.kickstarter.com/projects/doublefine...,Games,Video Games,"San Francisco, CA",successful,400000.0,3336372.0,8.340930,...,9,"$15,$30,$60,$100,$250,$500,$1,000,$5,000,$10,000",9,10159,33.92,1,San Francisco,CA,100k+,1k-100k
42674,2000827215,Wasteland 2,http://www.kickstarter.com/projects/inxile/was...,Games,Video Games,"Newport Beach, CA",successful,900000.0,2933252.0,3.259169,...,15,"$15,$30,$50,$55,$75,$100,$150,$150,$250,$500,$...",16,13133,35.00,1,Newport Beach,CA,100k+,1k-100k
11231,531044328,Shadowrun Returns,http://www.kickstarter.com/projects/1613260297...,Games,Video Games,"Bellevue, WA",successful,400000.0,1836447.0,4.591118,...,14,"$15,$30,$50,$60,$100,$125,$175,$250,$500,$1,00...",20,13850,24.77,1,Bellevue,WA,100k+,1k-100k
35458,1668263241,Elevation Dock: The Best Dock For iPhone,http://www.kickstarter.com/projects/hop/elevat...,Design,Product Design,"Portland, OR",successful,75000.0,1464706.0,19.529425,...,10,"$59,$79,$85,$118,$150,$250,$500,$2,000,$5,000,...",15,694,60.00,1,Portland,OR,50k–100k,1k-100k
4086,193329107,The Order of the Stick Reprint Drive,http://www.kickstarter.com/projects/599092525/...,Comics,Comics,"Philadelphia, PA",successful,57750.0,1254120.0,21.716365,...,64,"$10,$11,$12,$14,$14,$15,$16,$24,$25,$26,$29,$3...",40,19311,30.00,1,Philadelphia,PA,50k–100k,1k-100k
17468,823772473,"Amanda Palmer: The new RECORD, ART BOOK, and TOUR",http://www.kickstarter.com/projects/amandapalm...,Music,Music,"Boston, MA",successful,100000.0,1192793.0,11.927931,...,24,"$1,$5,$25,$50,$100,$125,$250,$250,$300,$300,$3...",9,782,31.71,1,Boston,MA,50k–100k,1k-100k
4114,195314440,TikTok+LunaTik Multi-Touch Watch Kits,http://www.kickstarter.com/projects/1104350651...,Design,Product Design,"Chicago, IL",successful,15000.0,942578.0,62.838562,...,6,"$1,$25,$50,$70,$150,$500",47,4187,30.00,1,Chicago,IL,10k–50k,1k-100k
18500,872786842,Hidden Radio &amp; BlueTooth Speaker,http://www.kickstarter.com/projects/2107726947...,Design,Product Design,"San Francisco, CA",successful,125000.0,938771.0,7.510172,...,7,"$20,$99,$119,$229,$449,$449,$659",14,710,60.00,1,San Francisco,CA,100k+,1k-100k
19495,917643914,Ogre Designer's Edition,http://www.kickstarter.com/projects/847271320/...,Games,Board &amp; Card Games,"Austin, TX",successful,20000.0,923680.0,46.184000,...,38,"$1,$10,$23,$23,$25,$30,$30,$35,$75,$100,$150,$...",42,5705,30.00,1,Austin,TX,10k–50k,1k-100k

In [21]:
# Filter for successful projects in New York
successful_ny_projects = df[(df['status'] == 'successful') & (df['location'].str.contains('New York'))]

In [43]:
# Count the number of successful projects by category
success_counts = successful_ny_projects['category'].value_counts()

In [45]:
# Display the results
print(success_counts)

category
Film &amp; Video    705
Music               463
Theater             348
Art                 164
Publishing          132
Dance               119
Photography          67
Design               56
Film & Video         40
Fashion              39
Comics               30
Food                 28
Technology           23
Games                18
Name: count, dtype: int64